{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'plantilla/assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-6 col-lg-8">
            <h2>Administración de Obras Públicas<span></span></h2>
            <p>Sistema de gestion</p>
          </div>
        </div>

      
      </div>

    </section><!-- /Hero Section -->

{% endblock %}

   